bin/
.checkstyle
.classpath
.project
.settings/
.tern-project

# maven
target/
test-output/
release.properties

# jrebel
rebel.xml

# logging
logback.xml
*.log

# jco trace files
*.trc

# protege
catalog-v*.xml

# infinitest ignored tests
infinitest.filters
infinitest.args

# spring integration
.springBeans
